<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="plainroc" />
   <link href="/atom.xml" rel="alternate" title="plainroc" type="application/atom+xml">
   <meta name="readability-verification" content="PLAINROCGxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">plainroc</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        plainroc<br />
        plainroc@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/plainroc/">github.com/plainroc</a>
      </p>
    </div>
    <div class="rss">
      <a href="/atom.xml">
        <img src="http://upload.wikimedia.org/wikipedia/en/4/43/Feed-icon.svg" alt="Subscribe to Atom Feed" width="16px" height="16px" />
      </a>
    </div>
  </div>
</div>

</body>
</html>
